# Simulating a Dataset

## 1. Obesity - A Growing Problem

### Key Facts About Obesity
- Worldwide obesity has nearly tripled since 1975
- In 2016, more than 1.9 billion adults, 18 years and older, were overweight. Of these over 650 million were obese.
- 39% of adults aged 18 years and over were overweight in 2016, and 13% were obese.
- Most of the world's population live in countries where overweight and obesity kills more people than underweight.
- 41 million children under the age of 5 were overweight or obese in 2016.
- Over 340 million children and adolescents aged 5-19 were overweight or obese in 2016.
- Obesity is preventable.

Obesity in increasingly affecting humans of all ages, shapes and sizes in the modern world. This notebook takes a look into some of the risk factors for obesity and the relationships between them.

In [5]:
import pandas as pd

d = {'BMI (kg/m2)' : ['18-25', '25-30', '30-35', '35-40', '>40'],'Category' : ['Normal', 'Overweight', 'Class 1 Obesity', 'Class 2 Obesity', 'Class 3 Obesity'],'Risk of Illness and Early Death' : ['Normal', 'Mildly Increased', 'Moderately Raised', 'Severely Raised', 'Very Severely Raised']}
df = pd.DataFrame(data = d, columns=['BMI (kg/m2)','Category','Risk of Illness and Early Death'])
df

  BMI (kg/m2)         Category Risk of Illness and Early Death
0       18-25           Normal                          Normal
1       25-30       Overweight                Mildly Increased
2       30-35  Class 1 Obesity               Moderately Raised
3       35-40  Class 2 Obesity                 Severely Raised
4         >40  Class 3 Obesity            Very Severely Raised

In [13]:
gend_age_data = pd.read_csv('500_Person_Gender_Height_Weight_Index.csv')
df_gend_age = pd.DataFrame(data=gend_age_data)
df_gend_age

     Gender  Height  Weight  Index
0      Male     174      96      4
1      Male     189      87      2
2    Female     185     110      4
3    Female     195     104      3
4      Male     149      61      3
5      Male     189     104      3
6      Male     147      92      5
7      Male     154     111      5
8      Male     174      90      3
9    Female     169     103      4
10     Male     195      81      2
11   Female     159      80      4
12   Female     192     101      3
13     Male     155      51      2
14     Male     191      79      2
15   Female     153     107      5
16   Female     157     110      5
17     Male     140     129      5
18     Male     144     145      5
19     Male     172     139      5
20     Male     157     110      5
21   Female     153     149      5
22   Female     169      97      4
23     Male     185     139      5
24   Female     172      67      2
25   Female     151      64      3
26     Male     190      95      3
27     Male     187      62      1
28   Female     163     159      5
29     Male     179     152      5
..      ...     ...     ...    ...
470    Male     147     142      5
471    Male     154     112      5
472  Female     178      65      2
473    Male     195     153      5
474  Female     167      79      3
475    Male     183     131      4
476  Female     164     142      5
477    Male     167      64      2
478  Female     151      55      2
479  Female     147     107      5
480  Female     155     115      5
481  Female     172     108      4
482  Female     142      86      5
483    Male     146      85      4
484  Female     188     115      4
485    Male     173     111      4
486  Female     160     109      5
487    Male     187      80      2
488    Male     198     136      4
489  Female     179     150      5
490  Female     164      59      2
491  Female     146     147      5
492  Female     198      50      0
493  Female     170      53      1
494    Male     152      98      5
495  Female     150     153      5
496  Female     184     121      4
497  Female     141     136      5
498    Male     150      95      5
499    Male     173     131      5

[500 rows x 4 columns]

## 2. Variables to be Considered

### Risk Factors


### Prediction Variable
Body Mass Index (BMI)

## 3. Data Synthesis

## 4. References

### 1. http://www.irishhealth.com/calc/bmi01.html
### 2. http://www.who.int/news-room/fact-sheets/detail/obesity-and-overweight
### 3. https://www.kaggle.com/yersever/500-person-gender-height-weight-bodymassindex#500_Person_Gender_Height_Weight_Index.csv