# Simulating a Dataset

## 1. Obesity - A Growing Problem

### Key Facts About Obesity
- Worldwide obesity has nearly tripled since 1975
- In 2016, more than 1.9 billion adults, 18 years and older, were overweight. Of these over 650 million were obese.
- 39% of adults aged 18 years and over were overweight in 2016, and 13% were obese.
- Most of the world's population live in countries where overweight and obesity kills more people than underweight.
- 41 million children under the age of 5 were overweight or obese in 2016.
- Over 340 million children and adolescents aged 5-19 were overweight or obese in 2016.
- Obesity is preventable.

Obesity is increasingly affecting humans of all ages, shapes and sizes in the modern world. This notebook takes a look into some of the risk factors for obesity and the relationships between them.

According to the Health Service Executive (HSE) in Ireland [1], and irishhealth.com [2], there are a number of classifications, based on Body Mass Index (BMI), ranging from Healthy to Class 3 Obese, as seen in the table below:

In [2]:
import pandas as pd

d = {'BMI (kg/m2)' : ['18-24.9', '25-29.9', '30-34.9', '35-39.9', '>40'],'Category' : ['Normal', 'Overweight', 'Class 1 Obesity', 'Class 2 Obesity', 'Class 3 Obesity'],'Risk of Illness and Early Death' : ['Normal', 'Mildly Increased', 'Moderately Raised', 'Severely Raised', 'Very Severely Raised']}
df = pd.DataFrame(data = d, columns=['BMI (kg/m2)','Category','Risk of Illness and Early Death'])
df.index = df.index+1
df

  BMI (kg/m2)         Category Risk of Illness and Early Death
1     18-24.9           Normal                          Normal
2     25-29.9       Overweight                Mildly Increased
3     30-34.9  Class 1 Obesity               Moderately Raised
4     35-39.9  Class 2 Obesity                 Severely Raised
5         >40  Class 3 Obesity            Very Severely Raised

When thinking about the risk factors that impact obesity levels, I firstly wanted to see if gender there was any evidence that one gender was particularly affected over another.
The dataset used below was found at [3] and contains Gender, Height, Weight and BMI Index for 500 people.

In order to verify the "Index" values are correct, I will add a new column to the data

In [5]:
# Dataset is stored in csv form and was downloaded and saved locally before importing
# First read the csv data using Pandas
gend_bmi_data = pd.read_csv('500_Person_Gender_Height_Weight_Index.csv')

# Create Pandas dataframe to hold data for investigation
# dataframe automatically assigned an index column
df_gend_bmi = pd.DataFrame(data=gend_bmi_data)
df_gend_bmi.index = df_gend_bmi.index+1
# Print the data to notebook
# Summary information at the end shows there are 500 records, each with 4 columns of data (not including the auto-generated index column)
df_gend_bmi

     Gender  Height  Weight  Index
1      Male     174      96      4
2      Male     189      87      2
3    Female     185     110      4
4    Female     195     104      3
5      Male     149      61      3
6      Male     189     104      3
7      Male     147      92      5
8      Male     154     111      5
9      Male     174      90      3
10   Female     169     103      4
11     Male     195      81      2
12   Female     159      80      4
13   Female     192     101      3
14     Male     155      51      2
15     Male     191      79      2
16   Female     153     107      5
17   Female     157     110      5
18     Male     140     129      5
19     Male     144     145      5
20     Male     172     139      5
21     Male     157     110      5
22   Female     153     149      5
23   Female     169      97      4
24     Male     185     139      5
25   Female     172      67      2
26   Female     151      64      3
27     Male     190      95      3
28     Male     187      62      1
29   Female     163     159      5
30     Male     179     152      5
..      ...     ...     ...    ...
471    Male     147     142      5
472    Male     154     112      5
473  Female     178      65      2
474    Male     195     153      5
475  Female     167      79      3
476    Male     183     131      4
477  Female     164     142      5
478    Male     167      64      2
479  Female     151      55      2
480  Female     147     107      5
481  Female     155     115      5
482  Female     172     108      4
483  Female     142      86      5
484    Male     146      85      4
485  Female     188     115      4
486    Male     173     111      4
487  Female     160     109      5
488    Male     187      80      2
489    Male     198     136      4
490  Female     179     150      5
491  Female     164      59      2
492  Female     146     147      5
493  Female     198      50      0
494  Female     170      53      1
495    Male     152      98      5
496  Female     150     153      5
497  Female     184     121      4
498  Female     141     136      5
499    Male     150      95      5
500    Male     173     131      5

[500 rows x 4 columns]

In [17]:
index = df_gend_bmi.index
columns = df_gend_bmi.columns
values = df_gend_bmi.values

values

array([['Male', 174, 96, 4],
       ['Male', 189, 87, 2],
       ['Female', 185, 110, 4],
       ...,
       ['Female', 141, 136, 5],
       ['Male', 150, 95, 5],
       ['Male', 173, 131, 5]], dtype=object)

In [20]:
df_male_bmi = df_gend_bmi.loc[df_gend_bmi['Gender'] == 'Male']
df_male_bmi

    Gender  Height  Weight  Index
0     Male     174      96      4
1     Male     189      87      2
4     Male     149      61      3
5     Male     189     104      3
6     Male     147      92      5
7     Male     154     111      5
8     Male     174      90      3
10    Male     195      81      2
13    Male     155      51      2
14    Male     191      79      2
17    Male     140     129      5
18    Male     144     145      5
19    Male     172     139      5
20    Male     157     110      5
23    Male     185     139      5
26    Male     190      95      3
27    Male     187      62      1
29    Male     179     152      5
30    Male     153     121      5
31    Male     178      52      1
37    Male     144      80      4
42    Male     157      56      2
43    Male     161     118      5
45    Male     185      76      2
47    Male     181     111      4
48    Male     161      72      3
49    Male     140     152      5
52    Male     163     110      5
53    Male     172     105      4
54    Male     196     116      4
..     ...     ...     ...    ...
438   Male     188      65      1
441   Male     182      73      2
442   Male     143     149      5
443   Male     152     146      5
445   Male     159     140      5
446   Male     146      70      4
449   Male     159     145      5
450   Male     162     157      5
453   Male     182      50      0
455   Male     176      77      2
458   Male     154      81      4
460   Male     179     123      4
461   Male     152     132      5
462   Male     179      56      1
465   Male     158     127      5
467   Male     145     142      5
468   Male     161     115      5
469   Male     198     109      3
470   Male     147     142      5
471   Male     154     112      5
473   Male     195     153      5
475   Male     183     131      4
477   Male     167      64      2
483   Male     146      85      4
485   Male     173     111      4
487   Male     187      80      2
488   Male     198     136      4
494   Male     152      98      5
498   Male     150      95      5
499   Male     173     131      5

[245 rows x 4 columns]

In [21]:
df_female_age = df_gend_age.loc[df_gend_age['Gender'] == 'Female']
df_female_age

     Gender  Height  Weight  Index
2    Female     185     110      4
3    Female     195     104      3
9    Female     169     103      4
11   Female     159      80      4
12   Female     192     101      3
15   Female     153     107      5
16   Female     157     110      5
21   Female     153     149      5
22   Female     169      97      4
24   Female     172      67      2
25   Female     151      64      3
28   Female     163     159      5
32   Female     195      65      1
33   Female     160     131      5
34   Female     157     153      5
35   Female     189     132      4
36   Female     197     114      3
38   Female     171     152      5
39   Female     185      81      2
40   Female     175     120      4
41   Female     149     108      5
44   Female     182     126      4
46   Female     188     122      4
50   Female     168     135      5
51   Female     176      54      1
55   Female     187      89      3
58   Female     164      70      3
60   Female     191      54      0
61   Female     141     143      5
65   Female     179     158      5
..      ...     ...     ...    ...
444  Female     186     128      4
447  Female     176     121      4
448  Female     146     101      5
451  Female     172      90      4
452  Female     169     121      5
454  Female     183      79      2
456  Female     188     128      4
457  Female     175      83      2
459  Female     184     147      5
463  Female     145     141      5
464  Female     181      80      2
466  Female     188      99      3
472  Female     178      65      2
474  Female     167      79      3
476  Female     164     142      5
478  Female     151      55      2
479  Female     147     107      5
480  Female     155     115      5
481  Female     172     108      4
482  Female     142      86      5
484  Female     188     115      4
486  Female     160     109      5
489  Female     179     150      5
490  Female     164      59      2
491  Female     146     147      5
492  Female     198      50      0
493  Female     170      53      1
495  Female     150     153      5
496  Female     184     121      4
497  Female     141     136      5

[255 rows x 4 columns]

## 2. Variables to be Considered

### Risk Factors


### Prediction Variable
Body Mass Index (BMI)

## 3. Data Synthesis

## 4. References

### 1. http://www.irishhealth.com/calc/bmi01.html
### 2. http://www.who.int/news-room/fact-sheets/detail/obesity-and-overweight
### 3. https://www.kaggle.com/yersever/500-person-gender-height-weight-bodymassindex#500_Person_Gender_Height_Weight_Index.csv