# Simulating a Dataset

## 1. Obesity - A Growing Problem

### Key Facts About Obesity [1]
- Worldwide obesity has nearly tripled since 1975
- In 2016, more than 1.9 billion adults, 18 years and older, were overweight. Of these over 650 million were obese.
- 39% of adults aged 18 years and over were overweight in 2016, and 13% were obese.
- Most of the world's population live in countries where overweight and obesity kills more people than underweight.
- 41 million children under the age of 5 were overweight or obese in 2016.
- Over 340 million children and adolescents aged 5-19 were overweight or obese in 2016.
- Obesity is preventable.

Obesity is increasingly affecting humans of all ages, shapes and sizes in the modern world.
According to irishhealth.com [2] and medscape [3], there are a number of classifications, based on Body Mass Index (BMI), ranging from "Below Normal Weight" to "Class 3 Obese", as seen in the table below:

In [1]:
import pandas as pd

d = {'BMI (kg/m2)' : ['< 18', '18-24.9', '25-29.9', '30-34.9', '35-39.9', '> 40'],'Category' : ['Below Normal Weight', 'Normal Weight', 'Overweight', 'Class 1 Obese', 'Class 2 Obese', 'Class 3 Obese']}
df = pd.DataFrame(data = d, columns=['BMI (kg/m2)','Category'])
df

  BMI (kg/m2)             Category
0        < 18  Below Normal Weight
1     18-24.9        Normal Weight
2     25-29.9           Overweight
3     30-34.9        Class 1 Obese
4     35-39.9        Class 2 Obese
5        > 40        Class 3 Obese

When thinking about the risk factors that impact obesity levels, the main indicator used to determine a person's weight classification is their Body Mass Index (BMI).

BMI should be calculated taking into account a persons general fitness, their muscle mass, waist size, as well as their height and weight, but for the purposes of this notebook, the more generalised version of BMI will be used.

In [2]:
# example BMI calculation, for purposes of demonstrating method to be used in this notebook
height_cm = 179

# For the purposes of BMI calculation, height must be provided in metres
height_m = height_cm / 100
weight_kg = 120

# BMI calculation is weight (kg) divided by height(m)^2
bmi = weight_kg/height_m**2
bmi

# This example person, Mr. Joe Bloggs, with a weight of 120 kg and height of 1.79 m, has a BMI of ~37.45
# This puts Joe Bloggs in the "Class 2 Obese" category, according to the table given above

37.452014606285694

Although BMI is a crude calculation for an indicator of obesity, that cannot be relied upon as accurate in all circumstances [4], for the purposes of this exercise, it will suffice in order to allow the simulation of a dataset.

The dataset used below was downloaded from [5] and contains Gender, Height (cm), Weight (kg) and BMI Index Category (as per above table index) for 500 people.

In [3]:
# Dataset is stored in csv form and was downloaded [3] and saved locally before importing
# First read the csv data using Pandas
gend_bmi_data = pd.read_csv('500_Person_Gender_Height_Weight_Index.csv', header=None, skiprows=1, names=['Gender','Height_cm','Weight_kg', 'BMI_Category'])

# Create Pandas dataframe to hold data for investigation
# dataframe automatically assigned an index column
df_gend_bmi = pd.DataFrame(data=gend_bmi_data)
df_gend_bmi.index = df_gend_bmi.index+1
# Print the data to notebook
# Summary information at the end shows there are 500 records, each with 4 columns of data (not including the auto-generated index column)
df_gend_bmi

     Gender  Height_cm  Weight_kg  BMI_Category
1      Male        174         96             4
2      Male        189         87             2
3    Female        185        110             4
4    Female        195        104             3
5      Male        149         61             3
6      Male        189        104             3
7      Male        147         92             5
8      Male        154        111             5
9      Male        174         90             3
10   Female        169        103             4
11     Male        195         81             2
12   Female        159         80             4
13   Female        192        101             3
14     Male        155         51             2
15     Male        191         79             2
16   Female        153        107             5
17   Female        157        110             5
18     Male        140        129             5
19     Male        144        145             5
20     Male        172        139             5
21     Male        157        110             5
22   Female        153        149             5
23   Female        169         97             4
24     Male        185        139             5
25   Female        172         67             2
26   Female        151         64             3
27     Male        190         95             3
28     Male        187         62             1
29   Female        163        159             5
30     Male        179        152             5
..      ...        ...        ...           ...
471    Male        147        142             5
472    Male        154        112             5
473  Female        178         65             2
474    Male        195        153             5
475  Female        167         79             3
476    Male        183        131             4
477  Female        164        142             5
478    Male        167         64             2
479  Female        151         55             2
480  Female        147        107             5
481  Female        155        115             5
482  Female        172        108             4
483  Female        142         86             5
484    Male        146         85             4
485  Female        188        115             4
486    Male        173        111             4
487  Female        160        109             5
488    Male        187         80             2
489    Male        198        136             4
490  Female        179        150             5
491  Female        164         59             2
492  Female        146        147             5
493  Female        198         50             0
494  Female        170         53             1
495    Male        152         98             5
496  Female        150        153             5
497  Female        184        121             4
498  Female        141        136             5
499    Male        150         95             5
500    Male        173        131             5

[500 rows x 4 columns]

In order to ensure that none of the data in the dataset/dataframe has been corrupted or is incorrect, there is some basic validation checks below:

In [4]:
df_gend_bmi.dtypes

Gender          object
Height_cm        int64
Weight_kg        int64
BMI_Category     int64
dtype: object

In [52]:
# Take a subset of the Dataframe df_gend_bmi where the gender is Male only
# Save a count of this subset as 'male'
df_male = df_gend_bmi.loc[df_gend_bmi['Gender'] == 'Male']
male = len(df_male.index) # https://stackoverflow.com/questions/15943769/how-do-i-get-the-row-count-of-a-pandas-dataframe

# Similar for 'female'
df_female = df_gend_bmi.loc[df_gend_bmi['Gender'] == 'Female']
female = len(df_female.index)

# displays that there are 245 male, 255 female giving a total of 500 correct genders out of 500.
print(male, female, male+female)

245 255 500

In [6]:
# return the maximum/minimum values in each column and store in an array
max_vals, min_vals = df_gend_bmi.max(), df_gend_bmi.min()

height_max, height_min = max_vals[1], min_vals[1]
weight_max, weight_min = max_vals[2], min_vals[2]
bmi_max, bmi_min = max_vals[3], min_vals[3]

print("height range: ", height_min, "to", height_max, "cm")
print("weight range: ", weight_min, "to", weight_max, "kg")
print("height range: ", bmi_min, "to", bmi_max)

height range:  140 to 199 cm
weight range:  50 to 160 kg
height range:  0 to 5

There are no numeric values outside what seem to be reasonable upper and lower bounds for each column of data.

## 2. Variables to be Considered

### Gender
Without getting into any modern political correctness, thus hijacking this highly informative piece of work and turning it into a political mess, we will assume that there are but two gender types available for selection:
- Male
- Female

Since we are randomly selecting our data, the chances of selecting either a male or female with each trial will be constant at 0.5.

Such a trial, with only two possible outcomes, would suggest a binomial distribution for this variable [6].

In [71]:
import numpy as np

a = ['Male', 'Female']

df_rand_gender = pd.DataFrame(data=np.random.choice(a, 100, replace=True))
df_rand_gender.index = df_rand_gender.index+1

df_rand_male = df_rand_gender.loc[df_rand_gender[0] == 'Male']
rand_male = len(df_rand_male.index)

df_rand_female = df_rand_gender.loc[df_rand_gender[0] == 'Female']
rand_female = len(df_rand_female.index)

rand_gender_count = [rand_male, rand_female]
rand_gender_count

[42, 58]

In [72]:
df_rand_gender

          0
1      Male
2    Female
3    Female
4      Male
5      Male
6      Male
7    Female
8      Male
9    Female
10   Female
11   Female
12   Female
13     Male
14   Female
15   Female
16   Female
17   Female
18     Male
19   Female
20     Male
21     Male
22   Female
23     Male
24   Female
25     Male
26   Female
27   Female
28     Male
29     Male
30   Female
..      ...
71   Female
72     Male
73   Female
74     Male
75     Male
76   Female
77   Female
78   Female
79   Female
80     Male
81   Female
82     Male
83     Male
84   Female
85     Male
86     Male
87     Male
88   Female
89   Female
90   Female
91     Male
92   Female
93     Male
94     Male
95     Male
96   Female
97   Female
98   Female
99     Male
100  Female

[100 rows x 1 columns]

### Height & Weight
For these variable we will generate an array of random integer values.
We will use summary statistics, from our sample set of 500 records, to generate our random height data. We already know:
- the range of heights recorded is 140cm - 199cm
- the range of weights recorded is 50kg - 160kg.

Since we are sampling numerical values, we can assume that, once our sample is large enough (over 30 datapoints), then the data will be normally distributed about the mean value.

Before we can generate a random sample of normally distributed data, we need:
- the mean value of each set of data
- the standard deviation of each set of data

In [73]:
mean_data = np.mean(gend_bmi_data)
sdev_data = np.std(gend_bmi_data)

mean_h = int(mean_data[0])
mean_w = int(mean_data[1])
sdev_h = int(sdev_data[0])
sdev_w = int(sdev_data[1])

summStats = [mean_h, mean_w, sdev_h, sdev_w]
summStats

[169, 106, 16, 32]

From the above, we now have:
- mean height: 169cm
- mean weight: 106kg
- std. dev. height: 16cm
- std. dev. weight: 32kg

Now we can generate a random sample of data for each variable:

In [85]:
rand_weight = np.random.normal(mean_w, sdev_w, 100)
rand_weight = [int(x) for x in rand_weight]

df_rand_weight = pd.DataFrame(rand_weight)
df_rand_weight.index = df_rand_weight.index+1
df_rand_weight

       0
1    127
2     72
3     88
4     71
5    104
6    142
7     67
8    119
9    124
10   112
11    72
12   121
13    95
14    91
15    49
16    70
17    52
18   107
19   142
20   126
21    91
22    49
23   114
24    51
25   126
26   105
27   114
28   131
29   106
30    72
..   ...
71   137
72   102
73   143
74   143
75   149
76   108
77    93
78   108
79   156
80   139
81    41
82    30
83   104
84   173
85    85
86    54
87    75
88   149
89    44
90    54
91   169
92   119
93    96
94    96
95   138
96    82
97   135
98    99
99   100
100  118

[100 rows x 1 columns]

In [86]:
rand_height = np.random.normal(mean_h, sdev_h, 100)
rand_height = [int(x) for x in rand_height]

df_rand_height = pd.DataFrame(rand_height)
df_rand_height.index = df_rand_height.index+1
df_rand_height

       0
1    159
2    153
3    178
4    195
5    169
6    163
7    154
8    189
9    153
10   155
11   178
12   144
13   172
14   202
15   141
16   163
17   165
18   198
19   144
20   152
21   144
22   181
23   209
24   187
25   159
26   179
27   164
28   164
29   168
30   176
..   ...
71   175
72   170
73   158
74   176
75   149
76   183
77   172
78   174
79   171
80   125
81   169
82   164
83   160
84   167
85   159
86   176
87   150
88   180
89   162
90   167
91   153
92   174
93   163
94   168
95   160
96   167
97   161
98   174
99   173
100  174

[100 rows x 1 columns]

To pull each of the three variabes together now into a single dataframe:

In [91]:
BMI_Data_synth = pd.concat([df_rand_gender, df_rand_height, df_rand_weight], axis=1, ignore_index=True)
BMI_Data_synth.columns = ['Gender', 'Height_cm', 'Weight_kg']
BMI_Data_synth

     Gender  Height_cm  Weight_kg
1      Male        159        127
2    Female        153         72
3    Female        178         88
4      Male        195         71
5      Male        169        104
6      Male        163        142
7    Female        154         67
8      Male        189        119
9    Female        153        124
10   Female        155        112
11   Female        178         72
12   Female        144        121
13     Male        172         95
14   Female        202         91
15   Female        141         49
16   Female        163         70
17   Female        165         52
18     Male        198        107
19   Female        144        142
20     Male        152        126
21     Male        144         91
22   Female        181         49
23     Male        209        114
24   Female        187         51
25     Male        159        126
26   Female        179        105
27   Female        164        114
28     Male        164        131
29     Male        168        106
30   Female        176         72
..      ...        ...        ...
71   Female        175        137
72     Male        170        102
73   Female        158        143
74     Male        176        143
75     Male        149        149
76   Female        183        108
77   Female        172         93
78   Female        174        108
79   Female        171        156
80     Male        125        139
81   Female        169         41
82     Male        164         30
83     Male        160        104
84   Female        167        173
85     Male        159         85
86     Male        176         54
87     Male        150         75
88   Female        180        149
89   Female        162         44
90   Female        167         54
91     Male        153        169
92   Female        174        119
93     Male        163         96
94     Male        168         96
95     Male        160        138
96   Female        167         82
97   Female        161        135
98   Female        174         99
99     Male        173        100
100  Female        174        118

[100 rows x 3 columns]

### Body Mass Index (BMI)
As discussed earlier, an individual's BMI is a simple calculation based on that individuals height and weight.
This variable is linked to the height and weight variables, already discussed, by the following equation:

<b>BMI = weight / $height^{2}$</b>

In [93]:
BMI_Data_synth['BMI'] = (BMI_Data_synth.Weight_kg*(100**2))/(BMI_Data_synth.Height_cm**2) #https://stackoverflow.com/questions/45393123/adding-calculated-column-in-pandas
BMI_Data_synth

     Gender  Height_cm  Weight_kg        BMI
1      Male        159        127  50.235355
2    Female        153         72  30.757401
3    Female        178         88  27.774271
4      Male        195         71  18.671926
5      Male        169        104  36.413291
6      Male        163        142  53.445745
7    Female        154         67  28.250970
8      Male        189        119  33.313737
9    Female        153        124  52.971079
10   Female        155        112  46.618106
11   Female        178         72  22.724403
12   Female        144        121  58.352623
13     Male        172         95  32.111952
14   Female        202         91  22.301735
15   Female        141         49  24.646648
16   Female        163         70  26.346494
17   Female        165         52  19.100092
18     Male        198        107  27.293133
19   Female        144        142  68.479938
20     Male        152        126  54.536011
21     Male        144         91  43.885031
22   Female        181         49  14.956808
23     Male        209        114  26.098304
24   Female        187         51  14.584346
25     Male        159        126  49.839801
26   Female        179        105  32.770513
27   Female        164        114  42.385485
28     Male        164        131  48.706127
29     Male        168        106  37.556689
30   Female        176         72  23.243802
..      ...        ...        ...        ...
71   Female        175        137  44.734694
72     Male        170        102  35.294118
73   Female        158        143  57.282487
74     Male        176        143  46.164773
75     Male        149        149  67.114094
76   Female        183        108  32.249395
77   Female        172         93  31.435911
78   Female        174        108  35.671819
79   Female        171        156  53.349749
80     Male        125        139  88.960000
81   Female        169         41  14.355240
82     Male        164         30  11.154075
83     Male        160        104  40.625000
84   Female        167        173  62.031625
85     Male        159         85  33.622088
86     Male        176         54  17.432851
87     Male        150         75  33.333333
88   Female        180        149  45.987654
89   Female        162         44  16.765737
90   Female        167         54  19.362473
91     Male        153        169  72.194455
92   Female        174        119  39.305060
93     Male        163         96  36.132335
94     Male        168         96  34.013605
95     Male        160        138  53.906250
96   Female        167         82  29.402273
97   Female        161        135  52.081324
98   Female        174         99  32.699168
99     Male        173        100  33.412409
100  Female        174        118  38.974765

[100 rows x 4 columns]

## 3. Data Synthesis

## 4. References

### 1.  http://www.who.int/news-room/fact-sheets/detail/obesity-and-overweight
### 2. http://www.irishhealth.com/calc/bmi01.html
### 3. https://reference.medscape.com/calculator/body-mass-index-bmi
### 4. https://www.nhs.uk/live-well/healthy-weight/bmi-calculator/#limitations-of-the-bmi
### 5. https://www.kaggle.com/yersever/500-person-gender-height-weight-bodymassindex#500_Person_Gender_Height_Weight_Index.csv
### 6. https://stattrek.com/probability-distributions/binomial.aspx
### 7. https://www.oecd.org/els/health-systems/Obesity-Update-2017.pdf
### 7. 
### 8. 
### 9.